#ifndef CREDENTIALS_H
#define CREDENTIALS_H

#include "credentials.h"
// copy credentials.h.sample to credentials.h and edit
// so it contains your passwords and tokens.

#define WIFI_SSID "XXXXXXXXXXXXXXX";
#define WIFI_PASSWORD "XXXXXXXXXXXXXXX";
#define WEATHER_ACCESS_TOKEN "XXXXXXXXXXXXXXX"

#endif
